In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
def get_soup(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content,'html.parser')
    return soup

In [3]:
reviews = []
body=[]
def get_review(soup): 
    item = soup.find_all('div',{'data-hook':'review'})
    for x in item:
        body = x.find('span',{'data-hook':'review-body'}).text.strip()
        reviews.append(body)

In [4]:
for x in range(1,200):
    soup = get_soup(f'https://www.amazon.in/Apple-iPhone-4S-White-8GB/product-reviews/B00GFGKC92/ref=cm_cr_arp_d_paging_btm_next_2?pageNumber={x}')
    get_review(soup)

In [5]:
reviews = pd.DataFrame(reviews,columns=['reviews'])
reviews

                                               reviews
0    If to say in a nutshell, product is MORE THAN ...
1    Ordered this product on 8th of July and I rece...
2    Pros : touch is great, phone response time is ...
3    Can be A very good gifts to older peoples.... ...
4    Buy, if your Budget is below 13K.I am using th...
..                                                 ...
885  So I got a SIM card for the phone, I put it in...
886  Brand new no scratches got it on time the best...
887                                     Great product!
888  Love this iPhone 4s says my mom thank u verry ...
889                               My daughter loves it

[890 rows x 1 columns]

In [ ]:
reviews.to_csv('AmazonReviews.csv')

In [24]:
df1 = pd.read_csv("AmazonReviews.csv")
df1 = df1.iloc[:,1:]
df1

                                               reviews
0    If to say in a nutshell, product is MORE THAN ...
1    Ordered this product on 8th of July and I rece...
2    Pros : touch is great, phone response time is ...
3    Can be A very good gifts to older peoples.... ...
4    Buy, if your Budget is below 13K.I am using th...
..                                                 ...
929                                          Excelente
930                                        Exelent !!!
931                                             Thanls
932  Bad quality and servise .I m happy I found my ...
933                                        outstanding

[934 rows x 1 columns]

In [25]:
df2 = pd.read_csv('FlipkartReviews.csv')
df2 = df2.iloc[:,1:]
df2

                                                reviews
0     good phone but wrost prize reduction.. its my ...
1     Absolutely amazing device. It's actually my fi...
2     Always wanted to buy iphone 4s; because of its...
3     this is my 2nd iPhone previous one iPhone 3gs ...
4     yes . .its old. . .its discontinued?????? I do...
...                                                 ...
1274  I received the phone-which was well packed , H...
1275  I want to buy a iphone 4s from flipcard. if it...
1276  Hi, I was ordered 14 Aug @ INR20700 and recevi...
1277  Hi there, I want to buy iPhone 4s in this mont...
1278  Thanks for providing the item. This is perfect...

[1279 rows x 1 columns]

In [26]:
dff = pd.read_csv("file1.csv")
dff = dff.iloc[:,1:]
dff.rename(columns = {"Review": "reviews"}, inplace = True)
dff

                                                 reviews
0      AnonD-682726, 06 Jul 2017\nHello, please help ...
1      Hello,  please help me i have a problem with m...
2                                          I like 4s 😇😇
3      Ahsan789, 18 Jun 2017How to update to 9.31. ha...
4      Don F., 05 Jun 2017\nStill a solid phone. Been...
...                                                  ...
11453  The camera has good quality! I love that the b...
11454  I love this phone!!! The only thing I hate abo...
11455  I used to have this phone until i gave it to a...
11456  I love this phone I loved the style of it neve...
11457  Like the battery life like thats its easy to u...

[11458 rows x 1 columns]

In [27]:
f = [df1, df2, dff]

In [28]:
final = pd.concat(f)
final

                                                 reviews
0      If to say in a nutshell, product is MORE THAN ...
1      Ordered this product on 8th of July and I rece...
2      Pros : touch is great, phone response time is ...
3      Can be A very good gifts to older peoples.... ...
4      Buy, if your Budget is below 13K.I am using th...
...                                                  ...
11453  The camera has good quality! I love that the b...
11454  I love this phone!!! The only thing I hate abo...
11455  I used to have this phone until i gave it to a...
11456  I love this phone I loved the style of it neve...
11457  Like the battery life like thats its easy to u...

[13671 rows x 1 columns]

In [29]:
final.to_csv("ReviewData.csv")